@page
@model FileManager.Pages.Managing.DocumentTypes.CreateModel
@{
    ViewData["Title"] = "Create";
}
 
<div asp-validation-summary="All" class="text-danger"></div>
 
<form method="post">
    <div class="form-group">
        <label for="type">Новый тип</label>
        <input required name="type" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Добавить</button>
    <script>debugger</script>
</form>

<a asp-page="Index">Вернуться назад</a>