@page
@model FileManager.Pages.Managing.DocumentTypes.IndexModel
@{
    ViewData["Title"] = "Список типов документов";
}

<h2>Список типов документов</h2>
<table class="table">
    @foreach (var type in @Model.DocumentTypes)
    {

        <tr>
            <td>@type.Type</td>
            <td>
                <button class="btn btn-sm">
                    <a class="nav-link" asp-page="DocumentTitles/Index" asp-route-documentTypeId="@type.Id">
                        Управление доступными наименованиями документов
                    </a>
                </button>
            </td>
            <td>
                <form asp-route-id="@type.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>

    }
</table>
<a asp-page="Create">Добавить тип документа</a>
<a asp-page="../../Index">Вернуться назад</a>

