@page
@model FileManager.Pages.Managing.ReportingYears.CreateModel
@{
    ViewData["Title"] = "Create";
}
 
<div asp-validation-summary="All" class="text-danger"></div>
 
<form method="post">
    <div class="form-group">
        <label for="number">Новый год</label>
        <input required name="number" type="number" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Добавить</button>
</form>

<a asp-page="Index">Вернуться назад</a>