@page
@model IndexModel
@using FileManager.Models.Database.YearDocumentTitles;
@{
    ViewData["Title"] = "Home page";
    Layout = "Shared/_MainApplicationLayout";
}
<div>
    @foreach (Year year in Model.Years)
    {
        <div>
            <a asp-page="/Directory/Year" asp-route-yearId="@year.Id">
                @year.Number
            </a>
        </div>
    }
</div>
