@page
@model FileManager.Pages.Account.Departments.UserDepartmentListModel
@{
    ViewData["Title"] = "UserList";
}

<div>
    <a asp-page="Departments/DepartmentsList">Управление кафедрами</a>
    <a asp-page="Roles/Index">Управление ролями</a>
</div>

<h2>Список пользователей</h2>
<table class="table">
    @foreach (var user in @Model.Users)
    {
        <tr>
            <td>@user.Email</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-page="EditUserDepartmentRoles" asp-route-userid="@user.Id">Изменение прав доступа к кафедре</a>
            </td>
        </tr>
    }
</table>

