.full-page {
    display: grid;
}

.user-bar {
    grid-row: 1;
    display: inline;
    border: 1px solid blue;
}

.user-group-btn {
    float: right;
    margin-right: 10%;
}

.user {
    float: right;
    display: grid;
    border: 1px solid yellow;
}

.user-data {
    grid-row: 1;
    display: inline;
    text-align: center;
}

.documents-status {
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(3,25px);
    grid-column-gap: 5px;
    justify-items: center;
}

.router-bar {
    grid-row: 2;
    display: inline;
    border: 1px solid green;
}

.select-bar {
    margin: 0px;
    padding: 0px;
    font: 14px 'Verdana';
    background: #9e9e9e;
    display: grid;
    grid-template-columns: auto;
}

    .select-bar > nav > ol{
        margin-bottom:0;
    }
.bg-folder{
    background-image:url("../images/documents-folder-icon.svg")
}
.router-content {
    grid-row-start: 3;
    border: 1px solid red;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(80px,1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.content {
    display: grid;
    border: 1px solid brown;
    align-content: center;
    justify-content: center;
    height: 80px;
}
