@page
@model FileManager.Pages.Account.ForgotPasswordPage.ForgotPasswordPageModel
@{
    ViewData["Title"] = "Index";
    Layout = "Shared/_Layout";
}

<h2>Для восстановления пароля введите ваш Email</h2>
<hr />
<form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="ForgotPasswordViewModel.Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input type="email" asp-for="ForgotPasswordViewModel.Email" class="form-control" />
            <span asp-validation-for="ForgotPasswordViewModel.Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}