@page
@model FileManager.Pages.Account.InfoModel
@{
    ViewData["Title"] = "Info";
    Layout = "_Layout";
}

<h2>Информация</h2>
<div>
    @Model.Message
</div>
<div>
    <a asp-page="/Account/SignIn">Перейти на страницу входа</a>
</div>
