@page
@model FileManager.Pages.Directory.ReportingYearModel
@using FileManager.Models.Database.DepartmentsDocuments;
@{
}
<div class="grid-autofill-items-100px">
    @foreach (Department department in Model.Departments)
    {
        <div>
            <a asp-page="/Directory/Department"
               asp-route-departmentId="@department.Id"
               asp-route-yearId="@Model.selectedReportingYearId">
                <img class="icon-size-100px" src="~/images/folderIcon.svg" />
                <p class="word-break-all">

                    @department.Name
                </p>

            </a>
        </div>
    }
</div>
@section Scripts
{
    <script src="@Url.Content("~/js/EditLastBreadcrumbAndAddStyling.js")"></script>
}