@{
    Layout = "Shared/_Layout";
}
@using FileManager.Services.GetAccountDataService;
@using FileManager.Models.Database.UserDepartmentRoles;
@inject IGetAccountDataService _getAccountDataService;
@{
    bool IsSystemAdmin = _getAccountDataService.IsSystemAdmin();
    bool IsDepartmentAdmin = await _getAccountDataService.IsAdminOnAnyDepartment();
    User CurrentUser = await _getAccountDataService.GetCurrentUser();
}
<div class="full-page">
    <div class="user-bar">
        <div class="btn-group user-group-btn">
            <div class="user dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="user-data">
                    @CurrentUser.UserName
                </div>
                <div class="documents-status">
                    <div class="status-good">g</div>
                    <div class="status-warning">w</div>
                    <div class="status-bad">b</div>
                </div>
            </div>
            <div class="dropdown-menu">
                <a class="dropdown-item" asp-page="/Account/UserInfo">Аккаунт</a>
                <div class="dropdown-divider"></div>

                @if (IsSystemAdmin || IsDepartmentAdmin)
                {
                    <a class="dropdown-item" asp-page="/Managing/UserRoleDepartmentManagement/UserDepartmentList">Изменение прав доступа</a>
                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item" asp-page="/Managing/ReportingYears/Index">Управление отчетными годами</a>
                    <div class="dropdown-divider"></div>
                }

                <a class="dropdown-item" asp-controller="LogOut" asp-action="Index">Выйти</a>
            </div>
        </div>
    </div>
    <div class="router-bar">
        <div class="select-bar">

            <breadcrumb></breadcrumb>
        </div>
    </div>
    <div class="container">
        @RenderBody()
    </div>
</div>
@RenderSection("Scripts", required: false)