<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FileManager</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/selectize/js/standalone/selectize.js"></script>
    <link rel="stylesheet" href="/lib/selectize/css/selectize.default.css">
    <environment include="Development">
        <link rel="stylesheet" href="~/css/_MainApplicationLayout.css" />
    </environment>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
<div class="full-page">
    <div class="user-bar">
        <div class="btn-group user-group-btn">
            <div class="user dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="user-data">
                    Sergei
                </div>
                <div class="documents-status">
                    <div class="status-good">g</div>
                    <div class="status-warning">w</div>
                    <div class="status-bad">b</div>
                </div>
            </div>
            <div class="dropdown-menu">
                <a class="dropdown-item" asp-page="/Account/UserInfo">Аккаунт</a>
                <div class="dropdown-divider"></div>

                <a class="dropdown-item" asp-page="/Account/UserRoleDepartmentManagement/UserList">Изменение прав доступа</a>
                <div class="dropdown-divider"></div>

                <a class="dropdown-item" asp-controller="LogOut" asp-action="Index">Выйти</a>
            </div>
        </div>
    </div>
    <div class="router-bar">
        <div class="select-bar">
            <ul class="Department">
                <li>
                    <label for="year">Год</label>
                    <a id="year">Выбранный год</a>
                </li>
                <li>
                    <label for="Department">Кафедра</label>
                    <a id="Department">Выбранная кафедра</a>
                </li>
                <li>
                    <label for="DocumentType">Тип документа</label>
                    <a id="DocumentType">Выбранный тип документа</a>
                </li>
                <li>
                    <label for="Document">Документ</label>
                    <a id="Document">Выбранный документ</a>
                </li>
            </ul>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
    <hr/>
    <footer>
        <p>&copy; 2019 - FileManager</p>
    </footer>
</div>

    @RenderSection("Scripts", required: false)
</body>
</html>
