@page
@model DocumentManager.Pages.Login.LoginViewModel
@{
    ViewBag.Title = "Login";
}

    <form method="post" asp-controller = "Login" >
        <div>
            <label asp-for="Email">Email</label>
            <input type="email" asp-for="Email" placeholder="Enter Email" />
            <span asp-validation-for="Email"></span>
        </div>

        <div>
            <label asp-for="Password">Password</label>
            <input type="password" asp-for="Password" placeholder="Enter password" />
            <span asp-validation-for="Password"></span>
        </div>
        
        <input type="submit" value="Login"/>
    </form>
