@page
@model FileManager.Pages.Account.Roles.CreateModel
@{
    ViewData["Title"] = "Create";
}
 
<div asp-validation-summary="All" class="text-danger"></div>
 
<form method="post">
    <div class="form-group">
        <label for="name">Новая роль</label>
        <input required name="name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Добавить</button>
</form>

<a asp-page="Index">Вернуться назад</a>